* 
	box-sizing: border-box 
body
  font-family: 'Fira Sans', sans-serif
  font-style: normal
  font-weight: 500
  font-size: 18px
  line-height: 22px
  letter-spacing: 0.05em
  color: #282828
.boundaries 
	margin: auto 
	display: flex
	justify-content: space-between
