@media (max-width: 1960px)
  .boundaries
    width: 92%
// --------------------------------------------------
@media (max-width: 1400px)
  .main__content::before
    left: 24.625%
// --------------------------------------------------
@media (max-width: 1280px)
  .boundaries
    width: 96%
  .header__sign-up
    margin-right: 7px
  .main
    &__content::before
      left: 15.625%
    &__title
      margin-left: 19px
    &__subtitle
      margin-left: -10px
    &__form
      &-email
        padding: 12px 11px
      &-btn
        padding: 11px 26px
  .footer__contacts
    margin-right: 2px
// --------------------------------------------------
@media (hover: hover) and (min-width: 992px)
  a
    &:hover
      text-decoration: underline 
      cursor: pointer
  button
    &:hover
      cursor: pointer
// --------------------------------------------------
@media (max-width: 860px)
  h1
    font-size: 60px
    line-height: 60px
  .header
    padding-left: 7px
    padding-right: 7px
    &__sign-up
      display: block
    &__user
      display: none
  .main
    height: 503px
    padding-top: 155px
    &__title
      margin-left: 0
      margin-bottom: 44px
    &__content::before
      width: 498px
      height: 498px
      left: 11.325%
      top: 190px
  .footer__contacts
    margin-right: 9px
// --------------------------------------------------
@media (max-width: 549px)
  h1
    font-size: 50px
  h2
    font-size: 19px
    line-height: 23px
  .boundaries
    width: 93.75%
  .header
    height: 80px
    padding-top: 23px
    padding-left: 0
    padding-right: 5px
    &__sign-up
      display: none
    &__user
      display: block
  .main
    height: 380px
    padding-top: 80px
    &__content::before
      width: 300px
      height: 300px
      left: 3.325%
      top: 139px
    &__title
      text-align: center
      margin-left: 10px
      margin-bottom: 39px
    &__subtitle
      margin-left: 0
      margin-bottom: 36px
    &__form
      &-email
        width: 168px
        font-size: 12px
        line-height: 14px
        padding: 12px 10px
      &-btn
        font-size: 16px
        line-height: 19px
        padding: 12px 23px 11px 27px       
  .footer
    &__content
      justify-content: center
    &__contacts
      margin-right: 0
      